// <-
ZMK_MACRO(arrow_left, bindings = <&kp LT &kp MINUS>;)
/*
// ->
ZMK_MACRO(arrow_right,       bindings = <&kp MINUS &kp GT>;)
// <=
ZMK_MACRO(lte,               bindings = <&kp LT &kp EQUAL>;)
// =>
ZMK_MACRO(arrow_right_d,     bindings = <&kp EQUAL &kp GT>;)
// >=
ZMK_MACRO(gte,               bindings = <&kp GT &kp EQUAL>;)
// _||_
ZMK_MACRO(log_or,            bindings = <&kp SPACE &kp PIPE &kp PIPE &kp SPACE>;)
// _&&_
ZMK_MACRO(log_and,           bindings = <&kp SPACE &kp AMPS &kp AMPS &kp SPACE>;)
// _==_
ZMK_MACRO(equals,            bindings = <&kp SPACE &kp EQUAL &kp EQUAL &kp SPACE>;)
// _!=_
ZMK_MACRO(equals_not,        bindings = <&kp SPACE &kp EXCL &kp EQUAL &kp SPACE>;)
// """
ZMK_MACRO(dquote_t,          bindings = <&kp DQT &kp DQT &kp DQT>;)
// '''
ZMK_MACRO(squote_t,          bindings = <&kp SQT &kp SQT &kp SQT>;)
// ...
ZMK_MACRO(dot_t,             bindings = <&kp DOT &kp DOT &kp DOT>;)
// ```
ZMK_MACRO(grave_t,           bindings = <&kp GRAVE &kp GRAVE &kp GRAVE>;)
// {:?}
ZMK_MACRO(print,             bindings = <&kp LBRC &kp COLON &kp QMARK &kp RBRC>;)
// {:#?}
ZMK_MACRO(pprint,            bindings = <&kp LBRC &kp COLON &kp HASH &kp QMARK &kp RBRC>;)
// (.)
ZMK_MACRO(pars,              bindings = <&kp LPAR &kp SPACE &kp RPAR &kp LEFT>;)
// [.]
ZMK_MACRO(brakets,           bindings = <&kp LBKT &kp SPACE &kp RBKT &kp LEFT>;)
// {.}
ZMK_MACRO(braces,            bindings = <&kp LBRC &kp SPACE &kp RBRC &kp LEFT>;)
// https://
ZMK_MACRO(https,             bindings = <&kp H &kp T &kp T &kp P&kp S &kp COLON &kp FSLH &kp FSLH>;)
*/